@use 'variaveis';

.shows{
    padding: 2vw 5.6vw;
    min-width: 50vw;
    text-align: center;
    background-image: url(/dist/images/fundo_2.png);
    background-size: cover;


    &__h1{
        font-size: 34px;
        color: variaveis.$corDoTexto1;

        @media (max-width:768px) {
            font-size: 28px;
            margin-top: 34px;
        }
    }

    &__h3{
        color: variaveis.$corDoTexto1;
        font-size: 24px;
        margin-top: 16px;

        @media (max-width:768px) {
            font-size: 16px;
            
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;
        margin-top: 28px;

        &__button{
            background: none;
            border: none;
            color: variaveis.$corDoTexto2;
            font-size: 16px;
            padding: 8px 14px;
            border-radius: 4px;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 4px solid transparent ;

            &--is-active{
                border-color: variaveis.$corFundoBotao
            }
        }
    }

    &__list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        margin-top: 44px;
        margin-left: 124px;
        margin-right: 120px;
        cursor: pointer;

        @media (max-width:768px) {
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
            
        }


        &--is-active {
            display: grid;
        }

        &__item{
            img{
                border-radius: 4px;
                height: 330px;
                transition: transform 0.2s ease-in-out; 
                
                @media (max-width:768px) {
                    height: 265px;
                    margin-top: 16px;
                    margin-bottom: 0;
                }

                &:hover{
                    transform: scale(1.1);
                }
            }

            &__h3{
                margin-top: 9px;
                font-size: 18px;
                color: variaveis.$corDoTexto2;
                word-break: break-word;
            }
        }
    }
}