$corDoTexto1 : #729fca;
$corDoTexto2 :#000;
$corDoTexto3 :#fff;
$corDeFundo:#FFEBD2;
$corFundoBotao: rgb(130, 204, 221);
$corFundoPlanns:#141519;
$corLink:#274561;
$corTextPlans:rgb(241, 242, 246);


